body {
background-image: url("https://i.ytimg.com/vi/uRyglL51d4k/maxresdefault.jpg");

}

.navbar {
	background-color: #ebebeb;
}

.main {
	background-color: #aa1211;
	padding: 10%;
	color: #ebebeb;
}

.start {
	background-color: black;
}

.answers p:hover {
	color: black;
	border: 2px;
	border-style: solid;
}